<!-- <button (click)="get()">faire le get</button> -->
<span style="padding-left: 0.5vw;margin-bottom: 0; padding-bottom: 0; font-family: Avenir Light,sans-serif;font-size: 3rem;">My apps</span>
<br>
<div class="div-apps" style="margin: 0;background-color: rgba(0, 153, 255, 0.418);border-radius: 10px; border: 10px outset #000; border-left-width: 0;border-right-width: 0;" >
    <div class="swiper-objet">
        <swiper [config]="config" #sw>
            <div id="ngfor" *ngFor ="let a of appsService.selected()" style="padding:0">
                <!-- <div *ngIf="appsService.list2?.indexOf(a.nom) > -1"> -->
                    <div class="flip-card" id="swiper-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img *ngIf="a.images!='none'" style="width: 100%;height: 100%;" src={{a.images}} alt={{a.nom}}>
                            <div *ngIf="a.images=='none'" style="width: 100%;height: 100%; background: #3200E6;text-align: center;position: relative;">
                              <div style="position: absolute;top:35%;width: 100%">
                                  <h2 style="text-align: center;color: white">{{a.nom}}</h2>
                              </div>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <h2 style="margin:0;padding-top: 0.5rem">{{a.nom}}</h2>
                            <div *ngFor ="let u of a.urls">
                                <p style="margin:0.4rem;padding:0"><a class="liens" target="_blank" href={{u.url}}>{{u.title}}</a></p>
                            </div>
                          </div>
                        </div>
                    </div>
                  <!-- </div> -->
                </div>
        </swiper>
      </div>
</div>




<!-- <dual-list style="font-family: Avenir Ligth, sans-serif" [source]="list" [(destination)]="list2"></dual-list> -->
<!-- <input type="text" (input)="save()" [(ngModel)]="coucou"> -->







