@font-face {
    font-family: "Avenir Light";
    src: url("../AvenirLTStd-Light.woff");
  } 
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3200E6;
    font-family: "Avenir Light", sans-serif;
    letter-spacing: 2px;
    width: 92vw;
    border-bottom: 1px solid #bbb;
  }

  #logobar {
    position: fixed;
    top: 0;
    left:0;
    z-index: 10000;
  }
  
  li {
    float: left;
    border-left: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:last-child{
      border-left: none; 
  }

/* ====================================================================================== */


  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    /* background-color: #8DDAF5; */
    background-color: rgba(185, 190, 255, 0.527);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bccdfd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #a7baee;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* ======================================================================================= */

  .notification {
    background-color: #3200E6;
    color: white;
    text-decoration: none;
    /* padding: 15px 26px; */
    padding: 4px 4px;
    position: relative;
    display: inline-block;
    border-radius: 1px;
  }
  
  .notification:hover {
    background: red;
  }
  
  .notification .badge {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 1px 1px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  /* ============================================================================= */

  /* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* =================================================================== */

.modal-content {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
















.modal-login {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-login {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 18%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-login {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-login:hover,
.close-login:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* =================================================================== */

.modal-content-login {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* =================================================================== */


.icon-bar {
  width: 4vw; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: gray; /* White text color */
  font-size: 150%; /* Increased font-size */
}

.icon-bar .yt:hover {
  background:#bb0000;
  color: white;
}

.icon-bar .fb:hover {
  background:#3B5998;
  color: white;
}

.icon-bar .twi:hover {
  background:#55ACEE;
  color: white;
}

.icon-bar .lin:hover {
  background:#007bb5;
  color: white;
}

.icon-bar .mail:hover {
  background:rgb(93, 77, 240);
  color: white;
}


/* ================================================================================ */

