button {
    background-color: #3200E6;
    border: none;
    color: white;
    padding: 13px 29px;
    text-decoration: none;
    font-size: 1vw;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Avenir Light",sans-serif;
    outline: none;
  }

button:hover {background-color: rgb(37, 0, 172)}

button:active {
  background-color: rgb(37, 0, 172);
  transform: translateY(4px);
}